@import "mixins";

body {
  font-color: black;
  ul {
    list-style: none;
  }
}

#main-container {
  #viz-container {
    position: absolute;
    margin: 25px 0 0 50px;
    ul {
      list-style: none;
      li {
        margin: 10px;
        float: left;
      }
      li span {
        margin-left: 30px;
        font-size: 30px;
      }
      .fa {
        cursor: pointer;
        background: white;
        padding: 7px;
        border-radius: 25%;
      }
    }
  }
  #checklist {
    clear: both;
  }
  #checklist, #project, #mediumGoal {
    float: left;
    margin-top: 220px;
    margin-left: 50px;
    h3 {
      text-align: center;
    }
    input {
      margin-right: 10px;
    }
    span {
      margin: 15px;
      display: block;
      clear: both;
    }
  }
  display: block;
  margin: 0 auto;
  position: relative;
  svg {
    display: block;
    margin: 50px auto;
  }
  .card {
    width: 420px;
    height: 270px;
    float: right;
    margin: 15px 25px;
    .actions {
      list-style: none;
      float: right;
      margin: -40px 20px 0 0;
      li {
        cursor: pointer;
        float: left;
        margin: 5px;
      }
    }
    h2 {
      margin-left: 25px;
      color: white;
    }
  }
}
